{% extends 'base.html' %}

{% block body %}
    <h1 class="my-5">{{article.title}}</h1>
    <p>{{article.content}}</p>

    <hr>
    <form action="{% url 'articles:comment_create' article_id=article.id %}" method="POST">
        {% csrf_token%}
        {{form}}
        <input type="submit">
    </form>
    <p>댓글 출력 방법 1</p>
    {% for comment in article.comment_set.all %}
        <li>{{comment.content}}</li>
        <form action="{% url 'articles:comment_delete' article_id=article.id id=comment.id%}" method="POST">
            {% csrf_token %}
            <input type="submit" value="delete">
        </form>
    {% endfor %}

    <p">댓글 출력 방법 2</p>
    {% for comment in comments %}
        <li>{{comment.content}}</li>
    {% endfor %}

{% endblock %}