{% extends 'base.html' %}

{% block body %}


    ????


    <h1 class="my-5">{{article.title}}</h1>
    <p>{{article.content}}</p>
    <hr>
    <div>
        {{article.optionA}}       
    </div>
    <div>
        {{article.optionB}}
    </div>


    <hr>
    <form action="{% url 'articles:comment_create' article_id=article.id %}" method="POST">
        {% csrf_token%}
        <input type="radio" name="choice" value="A"> A
        <input type="radio" name="choice" value="B"> B
        <div>
            {{form.content}}
        </div>
        <input type="submit">
    </form>
    <!-- <p">댓글 출력 방법 2</p> -->
     <hr>
     <h1>답변</h1>
    {% for comment in comments %}
        <li>{{comment.choice}} - {{comment.content}}</li>
    {% endfor %}

{% endblock %}