{% extends 'base.html' %}

{% block body %}
    <body>
        <h1>새로운 게임</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">질문:</label>
                {{ form.title }}
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="id_option_a">옵션 A:</label>
                    {{ form.optionA }}
                </div>
                <div class="form-group">
                    <label for="id_option_b">옵션 B:</label>
                    {{ form.optionB }}
                </div>
            </div>
            <input type="submit" value="제출">
        </form>
    </body>
    <!-- <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        {% comment %} <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목{{form.title}}</strong></label>
            <div class="col-sm-10">
              <input type="text" name="title" class="form-control" id="inputTitle" />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputAuthor" class="col-sm-2 col-form-label"><strong>보기 A:{{form.optionA}}</strong></label>
            <div class="col-sm-10">
              <input type="text" name="author" class="form-control" id="inputAuthor" />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label"><strong>보기 B:{{form.optionB}}</strong></label>
            <div class="col-sm-10">
              <textarea type="text" name="content" class="form-control" id="inputContent"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
              <input class="btn btn-primary" type="submit" role="button" value="제출" />
            </div>
          </div> {% endcomment %}
        <input type="submit" value="제출">
    </form> -->
{% endblock %}